<% %>
<h1>
  <%= @user.name %>'s profile
  <%= link_to 'Edit', edit_user_registration_path(current_user), class: "btn btn-default" %>
</h1>


<div>
  My photos: <%= link_to 'Create new photo', new_photo_path(current_user), class: "btn btn-default" %>
</div>

<table class="table">
  <tr>
    <th>Photo</th>
    <th>Title</th>
    <th>Action</th>
  </tr>

    <% @photos.each do |photo| %>
      <tr>
        <td><%=image_tag photo.image.url(:thumb)%></td>
        <td><%= link_to photo.title, photo_path(photo) %></td>
        <td>
          <%=link_to 'Remove', photo_path(photo), method: :delete %>
        </td>
      </tr>
    <% end%>

</table>
