<% @photos.each do |photo| %>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%=image_tag photo.image %>
        <div class="caption">
          <p><%= link_to photo.title, photo_path(photo) %></p>
          <p>by: <%= photo.user.name %></p>
        </div>
      </div>
    </div>

<% end %>
