<h1>Create new photo</h1>
<%= form_for  @photo,:html => {class:'form-horizontal col-md-9'}  do |f| %>

    <div class="form-group">
      <%= f.label :title, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :title, class: 'form-control'  %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :image, class: 'col-md-3 control-label'	  %>
      <div class="col-md-9">
        <%= f.file_field :image, id: 'exampleInputFile'%>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit class: 'col-md-offset-3 btn btn-lg btn-primary' %>
    </div>

<% end %>