<h1><%= @photo.title %></h1>
<div>
  <%= image_tag @photo.image.url(:medium) %>
  <p>
    Avarage score: <%= @average_remarks %>
  </p>
</div>
<hr />

<% if user_signed_in? %>
    <%= form_for @remark, url: create_remark_path(@photo.id) do |f| %>
        <div class="form-field">
          <%= f.submit 'Add comment', class:'btn btn-primary' %>
        </div>
        <div class="form-field">
          <%= f.label :text %>
          <%= f.text_field :text, autofocus: true, class:'form-control' %>
        </div>
        <div class="form-field">
          <%= f.label 'Score:', :rating %>
          <%= f.select(:rating, options_for_select([[1, 1], [2, 2],[3,3], [4,4], [5,5]], :selected => params[:ratings]), class: 'form-control') %>
        </div>
    <% end %>
    <hr />
<% end %>
<%	if @remarks %>
    <% @remarks.each do |remark| %>
        <i>by: <%= remark.user.name %>, score: <%= remark.rating %> </i>
        <div>
          <%= remark.text %>
        </div>
        <hr/>
    <% end %>
<% end %>


